body{
  .main {
    .results{
        background-color: rgb(224, 224, 224);
        height: 100%;
        width: 70%;
        padding-top: 40px;
        border: 1px solid black;
      h2{
        text-align: center;
      }
    }
  }
}