body {
  footer {
    margin-top: 30px;
    p {
      background-color: rgb(31, 31, 32);
      color: white;
      padding: 30px;
      text-align: center;
      font-size: 25px;
      letter-spacing: 3px;
    }
  }
}